html,body{
	height: 100%
}
.kont{ margin:auto;
	width:auto;
	background-color:grey;
	margin:20px;
	padding: 15px;
 }
body {
	display: grid;
	grid-template-areas:
	  'header header'
		'navigacija navigacija'
		'pagrindinis salutinis'
		'footer footer'
	;
	grid-template-columns: 75% 25%;
	grid-template-rows: 75px 100px  calc(100% - 225px) 100px;
	background-color:white;
	margin:15px;
padding: 15px;
	}



body>nav {
	grid-area: navigacija;
	background-color:pink;
	text-align: center;
	margin:15px;
padding: 15px;
	}
	nav>a{
			margin:15px;
	}
body>main {
	grid-area: pagrindinis;
	text-align: justify;
	background-color:white;
padding: 15px;
margin:15px;
	}
	body>aside {
		grid-area: salutinis;
			background-color:pink;
			text-align: center;
			margin:15px;
    padding: 15px;
}

footer{
	grid-area: footer;
	text-align: center;
	background-color: white;
	padding: 15px;
	margin:15px;
}

header{
	grid-area: header;
		text-align: center;
}
form{
	display: inline
}
.antraste{
text-align: center;
}
